@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #d3d3d3;
  
  flex-shrink: 0;
}

.left-links{
  gap: 1em;
  display: flex;
  padding-left: 0;
}

.right-links{
  gap: 1em;
  display: flex;
  padding-right: 0;
}

.content{
  display: flex;
  padding-left: 125px;
  justify-content: center;
  padding-top: 250px;
  margin-bottom:350px;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 2em;

}

.input{
  padding-left: 70px;
}

.buttons{
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  font-weight: bold;
  padding: auto;
}

a {
  text-decoration: none;
}
